<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WpfApp8.Properties.Settings>
      <setting name="Xeksen_nominator" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Yeksen_nomınator" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Zeksen_nominator" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="x_realvalue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="y_realvalue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="z_realvalue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="tz_realvalue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="tr_realvalue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cx_realvalue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cy_realvalue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cz_realvalue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e9_realvalue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="x_enc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="x_kalkis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="x_durus" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="x_go_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="x_back_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="x_workspeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="x_man_speed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="x_axis_limit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="x_ofsett" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="y_enc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="y_kalkis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="y_durus" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="y_go_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="y_back_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="y_workspeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="y_man_speed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="y_axis_limit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="y_ofsett" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sifir_x" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sifir_y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sifir_z" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sifir_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="z_enc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="z_kalkis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="z_durus" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="z_go_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="z_back_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="z_workspeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="z_man_speed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="z_axis_limit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="z_ofsett" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e4_enc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e4_kalkis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e4_durus" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e4_go_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e4_back_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e4_workspeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e4_man_speed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e4_axis_limit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e4_ofsett" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e5_enc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e5_kalkis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e5_durus" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e5_go_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e5_back_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e5_workspeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e5_man_speed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e5_axis_limit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e5_ofsett" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e6_enc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e6_kalkis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e6_durus" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e6_go_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e6_back_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e6_workspeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e6_man_speed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e6_axis_limit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e6_ofsett" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e7_enc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e7_kalkis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e7_durus" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e7_go_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e7_back_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e7_workspeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e7_man_speed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e7_axis_limit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e7_ofsett" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e8_enc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e8_kalkis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e8_durus" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e8_go_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e8_back_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e8_workspeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e8_man_speed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e8_axis_limit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e8_ofsett" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e9_enc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e9_kalkis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e9_durus" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e9_go_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e9_back_home" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e9_workspeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e9_man_speed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e9_axis_limit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="e9_ofsett" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="file_path" serializeAs="String">
        <value />
      </setting>
      <setting name="save_file_name" serializeAs="String">
        <value />
      </setting>
    </WpfApp8.Properties.Settings>
  </userSettings>
</configuration>